<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Welcome</title>
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="/">MAILER APP</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
              
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
              </div>
            </div>
          </nav>
      

        <div style="margin-top: 10%;">

        <h2> Welcome to coding competition - 2 </h2> <br>
          <h4> - Archana Raj, Norka B3</h4>
    </div>
        <!-- Footer -->
        <footer style="background: black;  margin-top: 10%;" class="page-footer font-small blue">
            <!-- Copyright -->
            <div class="text-center py-3" style="color: white;">© 2022 Copyright:
                <a href="/"> Mailer</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>

</body>

</html>